<launch>
  <machine name="raspberry" address="192.168.1.232" env-loader="/opt/ros/noetic/remote_env.sh" user="rpilukas"/>
  <machine name="main" address="192.168.1.233" env-loader="/opt/ros/melodic/env.sh" user="lublass"/>
  
  <!-- <node machine="main" name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
  <!-- <node machine="raspberry" name="lidar" pkg="rplidar_ros" type="listener_node" output="screen" />  -->

  <node machine="raspberry" name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rplidar"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

</launch>